@model EmailBrowser.Models.Login
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
<section>
    <div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Mail", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                        <p class="text-info text-warning">@ViewBag.Error</p>
                    </div>
                </div>
                @*For got password resset to resset password*@
                <p class="text-warning">
                    @*@Html.ActionLink("Forgot your password?", "PasswordReset")*@
                </p>
            }
        </section>
    </div>
</section>